<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Trusted News Code">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="CMSC495 Group 3">
    <title>Trusted News Source</title>


<script src="../js/jquery-3.3.1.min.js">
    count = 0;
</script>
    <script type="javascript">
        function ajaxRequest() {
            console.log("hello!");
        }
        setInterval(ajaxRequest, 5000);
    </script>
</head>
<body>
    <div id="wrapper">
        <h1>Trusted News Source</h1>

        <div class="nav">
            <ul id="navigation">
                <li><a href="index.html">Home</a> &#160;&#160;</li>
            </ul>
        </div>


        <table>
            <script>
                var urls = [];

                function countArticle(url, id) {
                    var search = url;
                    urls.push(url);
                    var count = urls.reduce(function(n, val) {
                        return n + (val === search);
                    }, 0);
                    console.log("count " + count + " Author: " + url + " id: " + id);
                    if(count != null){
                        document.getElementById('rate').innerHTML = count;
                    }
                    else{
                        document.getElementById('rate').innerHTML = "No Author";
                    }
                }
            </script>
             {% for item in content %}
                    <tr>
                        <td>
                            Rating: <span id="rate"></span> ID: {{ item.id }} Author: {{ item.author }} Article:  {{ item.title }}
                            <script>countArticle('{{ item.author }}', '{{ item.id }}')</script>
                        </td>
                    </tr>
            {% endfor %}
        </table>
    </div>
    <div id = "footer">Copyright &#169; 2018 CMSC495 Group3<br/>
        <a href="mailto:borwick@umuc.edu">Email us</a>
    </div>
</body>
</html>