
body {
    background-size: 100%;
    font-family: verdana, arial, sans-serif;
    size: 100%;
}
#content{
    padding: 25px 25px 25px 25px;
    width: 90%;
    height: 100%;
    color:black;
    text-align:left;
    border-color: black;
}
h1 {
    text-align: center;
    color: navy;
    font-family: Garamond, Arial;
    padding: 0;
}

.nav{
    list-style:none;
    margin:0;
    text-align: center;
    padding:0;
    display: table;
    width: 100%;
    background-color: ghostwhite;
}
ul#navigation{
    list-style: none;
    padding-left: 0;
}
ul#navigation li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
}
.nav a:link { color: orangered;}
.nav a:visited { color: darkred;}
.nav a:hover { color: darkorange;}
