<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Trusted News Code">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="CMSC495 Group 3">
    <title>Trusted News Source</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">


</head>
<body>
    <div id="wrapper">
        <h1>Trusted News Source</h1>

        <div class="nav">
            <ul id="navigation">
                <li><a href="index.html">Home</a> &#160;&#160;</li>
                <li><a href="data.html">Data Visualizations</a> &#160;&#160;</li>
                <li><a href="about.html">About</a></li>
            </ul>
        </div>

        <div id="content">

        <ul>{% for item in data %}
            <li>{{item[0]}}</li>
            <li>{{item[1]}}</li>
            {% endfor %}
        </ul>
        <div>
            <br>
            "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"
            <br>
        </div>
    </div>
    <div id = "footer">Copyright &#169; 2018 CMSC495 Group3<br/>
        <a href="mailto:borwick@umuc.edu">Email us</a>
    </div>
</div>


</body>
</html>